html,
body {
  height: 100%;
  width: 100%;
  overflow:visible;
  background: #4285f4!important;
  color: #fff;
  margin: 0;
}

a{
    color:#fff!important;
}

#note {
    position: absolute;
    color: rgba(249,241,204,1);
    left: 0;
    right: 0;
    /* bottom: 20px;
    margin: auto;
    text-align: center;
    user-select: none; */
  }