{% extends 'groups/group_base.html' %}

        {% block pregroup %}
        <div class="col-md-4 mt-4">

            <h1>{{group.name}}</h1>
            <h1>Member Count:{{ group.member.count }}</h1>

        <div class="content">

            {% if user in group.member.all %}
            <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-warning"><span><i class="fa fa-remove mr-2"></i></span>leave group</a>
            
            {% else %}
            <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-green"><span><i class="fa fa-user-plus mr-2"></i></span>Join group</a>
            {% endif %}
        </div>
    </div>

        {% endblock %}
        {% block group_content %}
        <div class="col-md-8 mt-5">
            {% if  group.postsgroup.count == 0 %}
                <h2 class="font-weight-bold"> No posts in this group yet! </h2>

                {% else %}
                {% for post in group.posts.all %}
                    {% include "blog/_post.html" %}
                {% endfor %}
            {% endif %}
        </div>
        {% endblock %}
        <!-- {% block postgroup %}{% endblock %} -->
    
